/* Este código equivale a 1rem=10px  */
:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffa500;
    --secundario: #0097A7;
    --gris: #757575; 
}

html {
    font-size: 62.5%;
}
body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}

.titulo {
    font-size: 3.8rem;
    text-align: center;
}

.titulo span {
    font-size: 2rem;
}
.nav-bg {
    background-color: var(--secundario);
}
.contenedor {
    width: 120rem;
    margin: 0 auto;
}
.nav-main {

    display: flex;
    justify-content: space-between;
}
.nav-main a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
}
.nav-main a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}